---
import Layout from "../layouts/Layout.astro";
import TimelineComponent from "../components/Timeline.astro";
import { events } from "../data/events";
---

<Layout title="Antti Tuomola - Timeline" activePage="timeline">
  <div class="max-w-6xl mx-auto px-4">
    <h1 class="text-4xl font-bold text-text-primary mb-12 text-center">
      There are some weird choices here.
    </h1>
    <TimelineComponent events={events} />
  </div>
</Layout>
