---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout title="CV" activePage="cv">
  <div
    class="min-h-[60vh] flex flex-col items-center justify-center text-center px-4"
  >
    <h1 class="text-4xl font-bold text-text-primary mb-6">CV Coming Soon</h1>
    <p class="text-xl text-text-secondary max-w-2xl">
      I'm currently working on putting together a comprehensive CV. Check back
      soon!
    </p>
    <div class="mt-12">
      <Button href="/timeline"> Meanwhile, check out my timeline </Button>
    </div>
  </div>
</Layout>
