---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Antti Tuomola">
  <div class="container">
    <h1>Antti Tuomola</h1>
    <p>Get in touch</p>
    <a href="mailto:antti@anttituomola.fi" class="email">antti@anttituomola.fi</a>
  </div>
</Layout>
