---
import Layout from "../layouts/Layout.astro";
import Timeline from "../components/Timeline.astro";
import { events } from "../data/events";
---

<Layout title="Timeline" activePage="timeline">
  <div class="max-w-6xl mx-auto px-4">
    <h1 class="text-4xl font-bold text-text-primary mb-12 text-center">
      My Journey
    </h1>
    <Timeline events={events} />
  </div>
</Layout>
